.inline_view {
        display: inline-block;
}

.searchParent{
	position: relative;
    text-align: center;
    margin: 0 auto;
}

.search {
	width: 300px;
	border: 1px solid #bbb;
	height: 35px;
	font-size: 14px;
}

.searchIcon {
	position:absolute;
	background-image: url("images/search2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-color: #CFFFE5;
    width: 60px;
    height: 35px;
    border: 1px solid #bbb;
	cursor:pointer;
	outline: 0;

}

.item-content{
	width:980px;
	margin: 0 auto;
	padding-top: 10px;
	position:relative;
}
.tab{
	position:relative;
}
.tab-titles{
	border-top:2px solid #555;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	list-style-type:none;
	font-size:0;
	position: absolute;
	top:0;
	width:100%;
}
.tab-titles>li{
	display:inline-block;
	padding:15px 20px 14px;
	width:25%;
	border-right:1px solid #ccc;
	background-color:#fafafa;
	text-align: center;
	color:#555;
	font-weight: bold;
	font-size: 16px;
	box-sizing: border-box;
}
.cover{
	
	box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
}
.cover:hover{
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 4px rgba(0, 0, 0, 0.2);
}