<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.spring.mapper.cartMapper">
 
  <resultMap type="CartVO" id="cartMap">
 	<result column="cart_member" property="memberCart"/>
 	<result column="cart_item" property="idCart"/>
 	<result column="name_cart" property="nameCart"/>
 	<result column="amount_cart" property="amountCart"/>
 	<result column="price_cart" property="priceCart"/>
 	<result column="date_cart" property="dateCart"/>
 </resultMap>
 
 <insert id="register">
 	INSERT INTO cart(cart_member,cart_item,name_cart,amount_cart,price_cart,date_cart) 
 		VALUES(#{memberCart},#{idCart},#{nameCart},#{amountCart},#{priceCart},#{dateCart})
 </insert> 
 
 <select id="search" resultMap="cartMap">
 	SELECT * from cart WHERE cart_member = #{memberCart}
 </select>
 
 <delete id="delete">
 	DELETE FROM cart WHERE id_member = #{memberId} and id_item = #{idItem}
 </delete>
    
</mapper>
